/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  color: #222;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Navbar Customization */

.custom-navbar {
  background-color: #d7da4c;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}


/* Hero Section */
.hero {
  background-image: url(images/background.svg);
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 240px 20px 240px 20px;
  text-align: left;
}

.hero h1 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-family: Helvetica, sans-serif;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

.btn-primary {
  background-color: #d7da4c;
  border: none;
  color: #222;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #535353;
  color: #fff;
}

/* Resume Content */
.resume-content {
  padding: 60px 20px;
  background-color: #fdfdfd;
}

.resume-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: left;
}

.table {
  background-color: #fff;
}

/* Skills Grid */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  padding: 60px 0;
}

.section {
  flex: 1 1 45%;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 6px;
}

.section h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.skills-list {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-list li {
  font-size: 1rem;
  color: #444;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background: #f0f0f0;
  text-align: center;
  padding: 30px 20px;
  font-size: 0.9rem;
  color: #777;
  margin-top: 200px;
}

footer p {
  font-size: 0.8rem;
  margin-top: 10px;
}

/* Social Media Buttons in Footer */
.footer-social-links {
  margin-top: 15px;
}

.btn-social-media {
  display: inline-block;
  padding: 5px 17px;
  background-color: #171717;
  color: #d6d6d6;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 4px;
  border-radius: 4px;
}

.btn-social-media:hover {
  background-color: #e94e1b;
  color: #fff;
  transform: scale(1.05);
}
